html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    background-image: url(./assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

header {
    background-color: mintcream;
    padding: 0.2rem 1rem;
    margin: 0.2rem 0;
    border-radius: 8px;
    box-shadow: grey 0px 2px 5px;
    opacity: 0.9;
}

h1 {
    margin: 0;
    text-transform: uppercase;
}

nav {
    padding: 8px;
    width: 400px;
}

nav input {
    padding: 8px;
    width: 100%;
}

table {
    width: 90vw;
    background-color: mintcream;
    border-radius: 8px;
    box-shadow: grey 0px 2px 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

th {
    padding-bottom: 0.5rem;
}

tr {
    padding-bottom: 1.1rem;
}

.paginated {
    font-size: large;
}

.hidden {
    display: none;
}

tr:hover {
    box-shadow: paleturquoise 0 0 5px;
    border-radius: 3px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border-radius: 5px;
    background-color: mintcream;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-companies-data {
    margin-bottom: 8px;
}

#range {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 0.8em;
}

.closeBtn {
    color: rgb(167, 167, 167);
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    margin: 0.5rem 0;
}

.paginationBtn {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    margin: 0 1px;
    cursor: pointer;
}

.paginationBtn:focus {
    outline: none;
}

.paginationBtn.active {
    background-color: rgb(168, 168, 168);
    color: white;
}

.paginationBtn:hover:not(.active) {
    background-color: #ddd;
}

#myChart {
    height: 40%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    header {
        width: 100vw;
        font-size: 0.8rem;
        text-align: center;
        position: static;
        border-radius: 0;
        margin-top: 0;
    }
    h1 {
        padding: 0px;
        margin: 0;
    }
    nav, table {
        width: 100vw;
        border-radius: 0px;
    }
    tr {
        font-size: 14px;
        line-height: 1.8;
    }
    #pagination {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
    .modal-content {
        margin: 2% auto;
        padding: 5px;
        width: 98%;
    }
}